@font-face {
    font-family: Bronz;
    src: url("assets/fonts/bronz.ttf");
}
@font-face {
    font-family: headton;
    src: url("assets/fonts/Headton.ttf");
}

html {
    background-color: #101010;
    cursor: url('assets/images/normal.png'), default;
    
}
.Baslik {
    color: azure;
    font-size: 60px;
    font-family: Bronz;
}
.Baslik_2 {
    color: azure;
    font-size: 40px;
    font-family: Bronz;
    position: relative;
    
}
.Baslik_3 {
    color:azure;
    font-size: 30px;
    font-family: Bronz;
    position : relative;
}
.PButton {
    color:azure;
    font-size: 40px;
    font-family: headton;
    background-color: #101010;
    padding-bottom: 20px;
    border-radius: 4px;
    border-color: black;
    cursor: url('assets/images/pointer.png'), pointer;

}
.container1 {
    height: 40px;
    position: relative;
    border: 6px #101010;
    justify-content: center;
}
.Paragraf  {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color:white;

}
.Paragraf2  {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color:white;
    margin-top: 20px;

}
.secret {
    
    color: #101010;
    background-color: #101010;
    font-size: 20px;
    font-family: headton;
    cursor: url('assets/images/pointer.png'), pointer;
}
.footer {
    display: flex;
    position: relative;
    top:250px;
    justify-content: center;
    background-color: #111011;
    color: #fff;
    padding: 20px;

}
.footer2 {
    display: flex;
    position: relative;
    top:1000px;
    justify-content: center;
    background-color: #111011;
    color: #fff;
    padding: 20px;
}
.code {
    color:azure;
    background-color: black;
    font-size: 30px;

}
.code_div {
    height:20px;
    border-radius: 30px 30px 30px 30px;
    border: 5px #990000;
    position: relative;
    justify-content: center;
}
.Button_IMG  {
    cursor: url("assets/images/pointer.png"),pointer;
}